img.product-img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

img.thumb {
	width: 246px;
	height: 246px;
	object-fit: cover;
}

.thumb-video {
	width: 246px;
	height: 246px;
}

.cart-sm {
	position: sticky;
	bottom: 0;
	height: 70px;
	width: 100%;
	line-height: 70px;
	border-radius: 5px;
	border-top: 2px solid #e2e2e4;
	background-color: #f4f5f7;
}

.cursor-pointer {
	cursor: pointer;
}

.avatar-xsm {
	width: 28px;
	height: 28px;
	object-fit: cover;
	font-size: 0.875rem;
}

@media (min-width: 992px) {
	.mt--540 {
		margin-top: -540px !important;
	}
}

@media (min-width: 1200px) {
	img.thumb {
		width: 446px;
		height: 446px;
		object-fit: cover;
	}

	.thumb-video {
		width: 446px;
		height: 446px;
	}
}

/* Small devices (landscape phones, less than 768px) /  Small Only */
@media (max-width: 767.98px) { 
	.h-sm-only-auto {
		height: auto !important;
	}

	.w-sm-only-auto {
		width: auto !important;
	}
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.img-container:hover img {
	opacity: 0.7;
}

.img-container:hover .middle {
	opacity: 1;
}

.clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.img_wrap {
	position: relative;
	height: 200px;
    width: 200px;
    border-radius: 50%;
}

.img_description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
    opacity: 0;
    margin-bottom: 0;
    border-radius: 50%;

	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
	visibility: visible;
	opacity: 1;
}

.input-group-text.disabled {
    background-color: #e9ecef;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 2.5rem;
}

.shape > .bg-image {
	object-fit: cover;
    height: 600px;
    width: 100%;
}

.profile-page .card-product {
    margin-top: -380px;
}